#!/bin/sh
# package.json hash: {{ include "dot_pi/agent/extensions/sandbox/package.json" | sha256sum }}
# package-lock.json hash: {{ include "dot_pi/agent/extensions/sandbox/package-lock.json" | sha256sum }}
npm ci --prefix "$HOME/.pi/agent/extensions/sandbox"
