{
  "mcpServers": {
    "kagi": {
      "command": "uv",
      "args": ["run", "--project", "{{ .chezmoi.homeDir }}/.mcporter/kagi", "kagimcp"],
      "env": {
        "KAGI_API_KEY": "{{ keyring "kagi" "api" }}"
      }
    },
    "playwright": {
      "command": "npm",
      "args": ["exec", "--prefix", "{{ .chezmoi.homeDir }}/.mcporter/playwright", "@playwright/mcp"]
    }
  }
}
